<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>

    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/lms.css}" />
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">

    <link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/privatejs/sidebarLoader.js}"></script>

<script>
    function checkPassword(){
        var originPW = document.getElementById('originPW').value;
        var pw = document.getElementById('newPW').value;
        var pwC = document.getElementById('newPWCheck').value;

        if(originPW != ){
            alert('현재 비밀번호를 확인해주세요');
        }
        else(pw != pwC){
            alert('새 비밀번호가 일치하지 않습니다.');
            return false;
        }

        return true;
    }
</script>
</head>

<body>
<div id="app">
    <div id="sidebar-placeholder"></div>
    <div id="main">

        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <h1>비밀번호 확인</h1>
        </div>

        <div class="col-md-6 col-12">
            <div class="card">

                <div class="card-content">
                    <div class="card-body">

                        <form  th:action="@{/member/changePassword}" method="post"  onsubmit="checkPassword()"
                               class="form form-vertical">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="originPW">현재 비밀번호</label>
                                            <div class="position-relative">
                                                <input type="password" class="form-control"
                                                        id="originPW" th:value="@{searchpw}">
                                                <div class="form-control-icon">
                                                    <i class="bi bi-shield-lock-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group has-icon-left">
                                            <label for="newPW">새 비밀번호</label>
                                            <div class="position-relative">
                                                <input type="password" class="form-control"
                                                       id="newPW">
                                                <div class="form-control-icon">
                                                    <i class="bi bi-shield-exclamation"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group has-icon-left">
                                            <label for="newPWCheck">새 비밀번호 확인</label>
                                            <div class="position-relative">
                                                <input type="password" class="form-control"
                                                       id="newPWCheck">
                                                <div class="form-control-icon">
                                                    <i class="bi bi-shield-check"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <input type="submit" value="수정" class="btn btn-primary me-1 mb-1">
                                        <a th:href="@{/member/information}"
                                                class="btn btn-light-secondary me-1 mb-1">돌아가기</a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




</body>
</html>