<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>중복확인</title>
	<link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
	<link rel="stylesheet" th:href="@{/assets/css/pages/auth.css}">
	<link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
	<link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">


	<script>
function idcheck(){
	let id = document.getElementById('searchid');
	if (id.value == ""){
		alert("검색할 id를 입력하세요.");
		return false;
		}
	return true;
}

//가입폼에 검색한 아이디 입력
function inputid(id) {
	opener.document.getElementById('id').value = id;
	this.close();
	
	
}

//가입폼에 검색한 아이디입력 다른방법
// function inputid() {
// 	alert(id);
// 	opener.document.getElementById('id').value = '[[${searchid}]]';
// 	this.close();
	
	
// }

</script>
</head>
<body>
	<h1 class="auth-title">[ ID 중복 확인 ]</h1>
	
	<form th:action="@{/member/idcheck}" method="post" onsubmit="return idcheck()">

	<input type="text" name="searchid" id="searchid" th:value="${searchid}" class="form-control form-control-xl" placeholder="검색할 ID">
	<input type="submit" value="검색" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">
	</form>
	
	
	
	<!-- 검색 후에만 출력 -->
	<div th:if="${result != null}">
	검색결과
		<!-- 사용 가능한 경우 -->
		<div th:if="${result}">
			<p>사용 가능한 아이디입니다.</p>
			<p><input type="button" value="id사용하기" th:id="${searchid}" onclick="inputid(this.getAttribute('id'))" class="btn btn-primary btn-block btn-lg shadow-lg mt-5"></p>
		</div>
		
		
		<!-- 사용 불가능한 경우 -->
		<div th:if="${!result}" class="alert alert-warning">
			<i class="bi bi-exclamation-triangle"></i>
			이미 사용중인 아이디입니다.
		</div>
	</div>
</body>
</html>