<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>중복확인</title>

<script>
function idcheck(){
	let id = document.getElementById('searchid');
	if (id.value == ""){
		alert("검색할 id를 입력하세요.");
		return false;
		}
	return true;
}

//가입폼에 검색한 아이디 입력
function inputid(id) {
	opener.document.getElementById('id').value = id;
	this.close();
	
	
}

//가입폼에 검색한 아이디입력 다른방법
// function inputid() {
// 	alert(id);
// 	opener.document.getElementById('id').value = '[[${searchid}]]';
// 	this.close();
	
	
// }

</script>
</head>
<body>
	<h1>[ ID 중복 확인 ]</h1>
	
	<form th:action="@{/member/idcheck}" method="post" onsubmit="return idcheck()">
	검색할 ID
	<input type="text" name="searchid" id="searchid" th:value="${searchid}">
	<input type="submit" value="검색" >
	</form>
	
	
	
	<!-- 검색 후에만 출력 -->
	<div th:if="${result != null}">
	검색결과
		<!-- 사용 가능한 경우 -->
		<div th:if="${result}">
			<p>사용 가능한 아이디입니다.</p>
			<p><input type="button" value="id사용하기" th:id="${searchid}" onclick="inputid(this.getAttribute('id'))"></p>
		</div>
		
		
		<!-- 사용 불가능한 경우 -->
		<div th:if="${!result}">
			<p>이미 사용중인 아이디입니다.</p>
		</div>
	</div>
</body>
</html>