<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>회원정보수정</title>

    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/lms.css}" />
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">

    <link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" th:href="@{/assets/extensions/filepond/filepond.css}">
    <link rel="stylesheet" th:href="@{/assets/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.css}">
    <link rel="stylesheet" th:href="@{/assets/extensions/toastify-js/src/toastify.css}">
    <link rel="stylesheet" th:href="@{/assets/css/pages/filepond.css}">

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>


    <script>
<!--        $(document).ready(function(){-->
<!--            let birth = $("#birthday").val();                               // 50번째 줄 히든에 user.birthday 를 밸류로 가져옴-->


<!--            let birthForm = birth.substring(0,10);                          //생년월일에 시간까지 떠서 자름-->
<!--            $("#birthday").val(birthForm);-->

<!--            let genderValue = $("#gender").val();                      //41번째 줄 히든의 밸류값을 가져옴-->
<!--            let gender = document.getElementById('gender');                 // 40번째줄 아이디를 가져와서-->
<!--            if(genderValue == "male"){                                      //male이면 남성 이외는 여성-->
<!--                $("#gender").val("남성");-->
<!--            }else{-->
<!--                $("#gender").val("여성");-->
<!--            }-->

<!--        });-->

<!--비밀번호체크-->
<!--        function passwordCheck(){-->
<!--            var pw = document.getElementById('memberpw').value;-->
<!--            var pwC = document.getElementById('memberpwCheck').value;-->

<!--            if(pw != pwC){-->
<!--                alert('비밀번호가 일치하지 않습니다.');-->
<!--                return false;-->
<!--            }-->

<!--            return true;-->
<!--        }-->

<!--        function preview(){-->

<!--        }-->

<!--        function updatePhoto(){-->
<!--            console.log("asdsadsasdadsdaadsasd");-->

<!--            const formData = new FormData();-->
<!--            formData.append("img", $("#memberphoto")[0].files[0]);-->

<!--            $.ajax({-->
<!--                url: 'updatePhoto',-->
<!--                type: 'post',-->
<!--                data : formData,-->
<!--                dataType : 'json',-->
<!--                enctype : 'multipart/form-data',-->
<!--                processData : false,-->
<!--                contentType: false,-->
<!--                success: function(result){-->
<!--                    alert(result);-->
<!--                },-->
<!--        		error:function(){-->
<!--        		    alert("실패");-->
<!--	        	}-->
<!--        	});-->
<!--        }-->

    function nameCheck() {
        var name = document.getElementById('membername').value;
        var namePattern = /^[A-Za-z가-힣]+$/; // 이름에 대한 정규식 패턴

        if (namePattern.test(name)) {
            // 이름이 조건에 맞을 경우
            $("#membername").removeClass("form-control is-invalid").addClass("form-control is-valid");

            document.getElementById("nameAlert").textContent = ""; // 경고 메시지 초기화
            // 여기에서 다른 작업을 수행하거나, 이름이 유효할 때의 처리를 추가할 수 있습니다.
        } else {
            // 이름이 조건에 맞지 않을 경우
            $("#membername").removeClass("form-control is-valid").addClass("form-control is-invalid");

            document.getElementById("nameAlert").textContent = "한글, 영문 대/소문자를 사용해 주세요. (특수기호, 공백 사용 불가)";
            // 이외의 처리를 추가할 수 있습니다.
        }
    }
    function phoneCheck(){
        var inputPhone = document.getElementById('phone');
        var phonePattern = /^(010|011)\d{3,4}\d{4}$/;

        if (phonePattern.test(inputPhone.value)) {
            $("#phone").removeClass("form-control is-invalid").addClass("form-control is-valid");
            document.getElementById("phoneAlert").textContent = ""; // 경고 메시지 초기화

            inputPhone.value = inputPhone.value.replace(/(\d{3})(\d{3,4})(\d{4})/, "$1-$2-$3");


            return true;
        } else {
            $("#phone").removeClass("form-control is-valid").addClass("form-control is-invalid");

            document.getElementById("phoneAlert").textContent = "다시 확인해주세요.";
            return false;
        }
    }

    function emailCheck(){
        var email = document.getElementById('email').value;
        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        if (emailPattern.test(email)) {
            $("#email").removeClass("form-control is-invalid").addClass("form-control is-valid");

            document.getElementById("emailAlert").textContent = ""; // 경고 메시지 초기화

            return true;
        } else {
            $("#email").removeClass("form-control is-valid").addClass("form-control is-invalid");

            document.getElementById("emailAlert").textContent = "이메일 형식에 맞게 써주세요.";
            return false;
        }
    }

    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("extraAddress").value = extraAddr;

                    $("#changeAddress").css("display", "block");
                    $("#address").css("display", "none");


                } else {
                    document.getElementById("extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("inputAddress").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }



    </script>
</head>
<body>
<div id="app">
    <div th:replace="~{/fragments/sidebar.html :: sidebarFrag}"></div>
</div>
    <div id="sidebar-placeholder"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        <div class="page-heading">
            <h1>회원정보 수정</h1>
        </div>


        <div class="col-md-6 col-12">
            <div class="card">

                <div class="card-content">
                    <div class="card-body">

                        <form class="form form-vertical" th:action="@{/member/memberUpdate}" method="post"
                               enctype="multipart/form-data">
                            <input type="hidden" id="memberid" name="memberid" th:value="${#authentication.name}">

                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <a th:href="@{/member/changePassword}"
                                               class="btn btn-info me-1 mb-1">비밀번호 변경</a>


<!--                                            <label for="memberpw">비밀번호</label>-->
<!--                                            <div class="position-relative">-->
<!--                                                <input type="password" class="form-control" th:value="${user.memberpw}"-->
<!--                                                       id="memberpw" name="memberpw">-->
<!--                                                <div class="form-control-icon">-->
<!--                                                    <i class="bi bi-shield-lock"></i>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="position-relative">-->
<!--                                                <input type="password" class="form-control" th:value="${user.memberpw}"-->
<!--                                                       id="memberpwCheck">-->
<!--&lt;!&ndash;                                                <span id="pwcheck"></span>&ndash;&gt;-->
<!--                                                <div class="form-control-icon">-->
<!--                                                    <i class="bi bi-shield-check"></i>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="membername">
                                                이름
                                                <code id="nameAlert"></code>
                                            </label>

                                            <div class="position-relative" th:if="${user.membername != null}">
                                                <input type="text" class="form-control"
                                                       id="membername" name="membername" th:value="${user.membername}" onkeyup="nameCheck()" required>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-card-text"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">

                                        <div class="form-group has-icon-left">
                                            <label for="gender">
                                                성별

                                            </label>
                                            <div class="position-relative">
                                                <fieldset class="form-group">
                                                    <select class="form-select" id="gender" name="gender" required>
                                                        <option value="male" th:selected="${user.gender == '남자'}">남자</option>
                                                        <option value="female" th:selected="${user.gender == '여자'}">여자</option>
                                                    </select>
                                                </fieldset>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="birthday">생년월일</label>
                                            <div class="position-relative">
                                                <input type="date" class="form-control" th:value="${user.birthday.substring(0, 10)}"
                                                       id="birthday" name="birthday" required>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-calendar-event"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="phone">
                                                전화번호
                                                <code id="phoneAlert"></code>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control" th:value="${user.phone}"
                                                       id="phone" name="phone" onblur="phoneCheck()" required>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-telephone"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="email">
                                                Email
                                                <code id="emailAlert"></code>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" class="form-control" th:value="${user.email}"
                                                       id="email" name="email" onblur="emailCheck()" required>
                                                <div class="form-control-icon">
                                                    <i class="bi bi-envelope"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="display: block;" class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="address">주소</label>
                                            <div class="position-relative">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" th:value="${user.address}"
                                                           id="address" name="address">
                                                    <input class="btn btn-primary" type="button" onclick="execDaumPostcode()" value="변경">
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-house-door"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: none;" id="changeAddress" class="form-group position-relative has-icon-left mb-4">
                                        <!--
                                        <input type="text" id="sample" name="address" class="form-control form-control-xl" placeholder="Address">
                                        -->
                                        <div class="form-control form-control-xl">
                                            <div class="input-group">

                                                <input class="form-control" style="width:100px; padding-left: 1px;" type="text" id="postcode" name="postcode" placeholder="우편번호">
                                                <input class="btn btn-primary" type="button" onclick="execDaumPostcode()" value="검색"><br>
                                            </div>
                                            <input style="padding-left: 1px;" class="form-control" type="text" id="inputAddress" name="inputAddress" placeholder="주소" required>
                                            <input style="padding-left: 1px;" class="form-control" type="text" id="detailAddress" name="detailAddress" placeholder="상세주소" required>
                                            <input style="padding-left: 1px;" class="form-control" type="text" id="extraAddress" name="extraAddress" placeholder="참고항목" >

                                        </div>
                                        <div class="form-control-icon">
                                            <i class="bi bi-house-door"></i>
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <input type="submit" value="수정완료" class="btn btn-success me-1 mb-1">
                                        <a th:href="@{/member/information}"
                                           class="btn btn-light-secondary me-1 mb-1">취소</a>
                                    </div>
                                </div>
                            </div>

                            <a th:href="@{/member/insertPhoto}"> 사진올리기 </a>
                            <input type="file" id="upload" name="upload" class="image-preview-filepond">

<!--                            <input type="button" onclick="photoForm()" value="적용">-->
                        </form>

                    </div>
                </div>
            </div>
        </div>



<!--        <form  th:action="@{/member/memberUpdate}" method="post" onsubmit="return passwordCheck()" enctype="multipart/form-data">-->

<!--            <table>-->
<!--                <tr>-->
<!--                    <td>ID</td>-->
<!--                    <td>-->
<!--        &lt;!&ndash;                <p th:text="${user.memberid}">ID</p>&ndash;&gt;-->
<!--                        <input type="text" id="memberid" name="memberid" readonly th:value="${user.memberid}">-->
<!--                        <span id="idLengthMessage" ></span>-->
<!--                    </td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td rowspan="2">비밀번호</td>-->
<!--                    <td>-->
<!--                        <input type="password" id="memberpw" name="memberpw" placeholder="비밀번호 입력">-->
<!--                    </td>-->

<!--                    <td><span id="pwcheck"></span></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td><input type="password" id="memberpwCheck" placeholder="비밀번호 다시 입력"></td>-->
<!--                </tr>-->


<!--                <tr>-->
<!--                    <td>이름</td>-->
<!--                    <td><input type="text" id="membername" name="membername" th:value="${user.membername}" ></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>성별</td>-->
<!--                    <td><input type="text" id="gender" name="hgender" th:value="${user.gender}" ></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>생년월일</td>-->
<!--                    <td><input type="text" id="birthday" name="birthday" th:value="${user.birthday}" ></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>이메일</td>-->
<!--                    <td><input type="text" id="email" name="email" th:value="${user.email}" required></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>전화번호</td>-->
<!--                    <td><input type="text" id="phone" name="phone" th:value="${user.phone}" required></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>주소</td>-->
<!--                    <td colspan="2"><input type="text" id="address" name="address" th:value="${user.address}" required></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><input type="submit" value="수정"></td>-->
<!--                    <td><input type="button" value="취소" onclick=""></td>-->
<!--                </tr>-->
<!--            </table>-->



<!--        </form>-->

    </div>

<script th:src="@{/assets/js/bootstrap.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>

</body>
</html>