<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.lms.dao.AdminDAO">

<!--    회원조회-->
    <select id="selectAll"
            resultType="Member">
    select memberid,
        membername,
        gender,
        address,
        phone,
        email,
        rolename,
        enabled
        from lms_member

    </select>

<!--    다중수정-->
    <update id="update" parameterType="Member">
        UPDATE lms_member
        SET
        <if test="rolename != null">
            rolename = #{rolename},
        </if>
        <if test="enabled != null">
            enabled = #{enabled}
        </if>
        WHERE
        memberid = #{memberid}
    </update>

<!--    학생관리 학생조회-->
    <select id="selectAllStudents" resultType="StudentsAll">
        SELECT
        m.memberid as "member.memberid",
        m.membername as "member.membername",
        m.birthday as "member.birthday",
        m.gender as "member.gender",
        m.address as "member.address",
        s.school as "student.school",
        s.major as "student.major",
        s.graduation as "student.graduation",
        s.curriculum as "student.curriculum",
        jp.jpclassname as "jpCategory.jpclassname",
        it.itclassname as "itCategory.itclassname"
        FROM
        lms_member m
        JOIN lms_student s ON m.memberid = s.memberid
        JOIN class_jp_category jp ON m.memberid = jp.memberid
        JOIN class_it_category it ON m.memberid = it.memberid
    </select>


</mapper>
