<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.lms.dao.AdminDAO">

<!--    회원조회-->
    <select id="selectAll"
            resultType="Member">
    select memberid,
        membername,
        gender,
        address,
        phone,
        email,
        rolename,
        enabled
        from lms_member

    </select>

<!--    다중수정-->
    <update id="update" parameterType="Member">
        UPDATE lms_member
        SET
        <if test="rolename != null">
            rolename = #{rolename},
        </if>
        <if test="enabled != null">
            enabled = #{enabled}
        </if>
        WHERE
        memberid = #{memberid}
    </update>

<!--    학생관리 학생조회-->
    <select id="selectAllStudents" resultType="StudentsAll">
        SELECT
        m.memberid as "member.memberid",
        m.membername as "member.membername",
        TO_CHAR(m.birthday, 'YY/MM/DD') as "member.birthday",
        m.gender as "member.gender",
        m.address as "member.address",
        s.school as "student.school",
        s.major as "student.major",
        s.graduation as "student.graduation",
        s.curriculum as "student.curriculum",
        jp.jpclassname as "jpCategory.jpclassname",
        it.itclassname as "itCategory.itclassname"
        FROM
        lms_member m
        JOIN lms_student s ON m.memberid = s.memberid
        LEFT JOIN class_jp_category jp ON m.memberid = jp.memberid
        LEFT JOIN class_it_category it ON m.memberid = it.memberid
    </select>
<!--학생관리 : 과정등록폼-->
    <select id="selectOnlyStudent" resultType="Member">
        SELECT m.*
        FROM lms_member m
        LEFT JOIN lms_student s ON m.memberid = s.memberid
        WHERE m.rolename = 'ROLE_student' AND s.curriculum IS NULL

    </select>

<!--    학생관리 : 과정 등록-->
    <insert id="insertCurriculum" parameterType="Student">
        INSERT ALL
        <foreach collection="list" item="s">
            INTO lms_student (memberid, curriculum) VALUES (#{s.memberid}, #{s.curriculum})
        </foreach>
        SELECT * FROM dual
    </insert>

<!--    학생관리: 분반등록 폼-->
    <select id="selectOnlyStudentClass" resultType="Member">
        SELECT m.*
        FROM lms_member m
        LEFT JOIN class_jp_category jp ON m.memberid = jp.memberid
        LEFT JOIN class_it_category it ON m.memberid = it.memberid
        WHERE m.rolename = 'ROLE_student' AND (jp.jpclassname IS  NULL AND it.itclassname IS  NULL)

    </select>

<!--    학생관리: 분반등록-->
    <insert id="insertClass" parameterType="StudentClasses">
        INSERT ALL
        <foreach collection="list" item="s">
            INTO class_jp_category (memberid, jpclassname, jpsubject)
            VALUES (#{s.memberid}, #{s.jpclassname}, #{s.jpsubject})

            INTO class_it_category (memberid, itclassname, itsubject)
            VALUES (#{s.memberid}, #{s.itclassname}, #{s.itsubject})
        </foreach>
        SELECT * FROM dual
    </insert>
</mapper>
