<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.lms.dao.MemberDAO">
<insert id="join" parameterType="Member">
    insert into lms_member(
        memberid
        , memberpw
        , membername
        , birthday
        , phone
        , gender
        , email
        , address
        )
    values(
        #{memberid}
        , #{memberpw}
        , #{membername}
        , #{birthday}
        , #{phone}
        , #{gender}
        , #{email}
        , #{address}
        )
</insert>

    <!-- 	1명 회원정보 조회  -->
    <select id="selectOne"
            parameterType="string"
            resultType="Member">
        select * from lms_member where memberid = #{memberid}
    </select>


<!--회원정보 불러오기-->
    <select id="memberInfor" parameterType="String" resultType="Member">
        select
            membername

            , birthday
            , phone
            , email
            , address
            ,
            CASE
            WHEN gender = 'male' THEN '남성'
            ELSE '여성'
            END AS gender

        from lms_member where memberid = #{memberid}
    </select>

<!--  회원정보 수정  -->
    <update id="memberUpdate" parameterType="Member">
        update lms_member
        set
        membername = #{membername}
        <if test="memberpw != null and memberpw != '' ">
            , memberpw = #{memberpw}
        </if>
        <if test="memberpw == null and memberpw == '' ">
            , memberpw = memberpw
        </if>
        , gender = #{gender}
        , birthday = #{birthday}
        , email = #{email}
        , phone = #{phone}
        , address = #{address}
        <if test="memberphoto != null">
        , memberphoto=#{memberphoto}
        </if>

        where
        memberid = #{memberid}
    </update>
<!-- 멤버 사진 업데이트 -->
    <update id="memberphoto" parameterType="Member">
        update lms_member
        set
        memberpw = memberpw
        <if test="memberphoto != null">
            ,memberphoto=#{memberphoto}
        </if>
        where memberid=#{memberid}
    </update>
</mapper>
