<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.lms.dao.QuestionDAO">
    <!--문제 등록-->
    <insert id="submitQuestion" parameterType="Question">
        <selectKey keyProperty="qid" resultType="int" order="AFTER">
            SELECT lms_question_seq.CURRVAL FROM DUAL
        </selectKey>
        insert into lms_question (
        testid, qid, papernum, contents, points, type
        <if test="originalfile != null">
            , originalfile, savedfile
        </if>
        ) values (
        #{testid}, lms_question_seq.nextval, #{papernum}, #{contents}, #{points}, #{type}
        <if test="originalfile != null">
            , #{originalfile}, #{savedfile}
        </if>
        )
    </insert>


    <!--문제의 보기 및 답안 등록-->
    <insert id="submitOptions" parameterType="Option">
        INSERT ALL
        <foreach collection="list" item="options" separator=" ">
            INTO lms_q_options (qid, value
            <if test="options.content != null">
                , content
            </if>
            <if test="options.checked != null">
               , checked
            </if>
            )
            VALUES (#{options.qid}, #{options.value}
            <if test="options.content != null">
                , #{options.content}
            </if>
            <if test="options.checked != null">
                , #{options.checked}
            </if>
            )
        </foreach>
        SELECT * FROM dual
    </insert>

    <update id="updateAnswer">
        UPDATE lms_question q
        SET q.answer = (
            SELECT LISTAGG(o.value, ',') WITHIN GROUP (ORDER BY o.value)
        FROM lms_q_options o
        WHERE o.qid = q.qid
          AND o.checked = 'true'
            )
        WHERE EXISTS (
            SELECT 1
            FROM lms_q_options o
            WHERE o.qid = q.qid
          AND o.checked = 'true'
            )
    </update>

    <!--시험지 문제 전체 조회-->
    <select id="selectQuestions" parameterType="int" resultType="Question">
        SELECT *
        FROM lms_question
        WHERE testid = #{testid}
    </select>

    <!--문제에 해당하는 보기 조회-->
    <select id="selectOptions" parameterType="long" resultType="Option">
        SELECT *
        FROM lms_q_options
        WHERE qid = #{qid}
            AND ((SELECT type FROM lms_question where qid = #{qid}) = 1 OR (SELECT type FROM lms_question where qid = #{qid}) = 2)
        ORDER BY value ASC
    </select>
</mapper>
