<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.lms.dao.TestDAO">
    <!--시험 목록 조회-->
    <select id="testListAll" resultType="Test">
        select
            testid
            , testname
            , to_char(testdate, 'YYYY-MM-DD HH24:MI') as testdate
            , to_char(testlimit, 'YYYY-MM-DD HH24:MI') as testlimit
            , totalpoints
        from lms_test
        ORDER BY testid desc
    </select>

    <insert id="insertTest" parameterType="Test">
        <selectKey keyProperty="testid" resultType="int" order="AFTER">
            SELECT lms_test_seq.CURRVAL FROM DUAL
        </selectKey>
        insert into lms_test (
            testid, testname, testdate, testlimit, totalpoints
        ) values (
            lms_test_seq.nextval
            , #{testname}
            , to_date(#{testdate}, 'YYYY-MM-DD HH24:MI')
            , to_date(#{testlimit}, 'YYYY-MM-DD HH24:MI')
            , #{totalpoints}
        )
    </insert>

    <!--시험 정보 조회-->
    <select id="selectTest" parameterType="int" resultType="Test">
        SELECT
            testid
            , testname
            , totalpoints
            , to_char(testdate, 'YYYY-MM-DD HH24:MI') as testdate
            , to_char(testlimit, 'YYYY-MM-DD HH24:MI') as testlimit
            , totalpoints
        FROM lms_test
        WHERE testid = #{testid}
    </select>

<!--    시험삭제-->
    <delete id="deleteTest" parameterType="int">
        delete from lms_test
        where testid = #{testid}
    </delete>

<!--    시험수정-->
    <update id="updateTest" parameterType="Test">
        update lms_test
        set testname = #{testname},
        testdate = to_date(#{testdate}, 'YYYY-MM-DD HH24:MI'),
        testlimit = to_date(#{testlimit}, 'YYYY-MM-DD HH24:MI'),
        totalpoints = #{totalpoints}
        where testid = #{testid}
    </update>

<!--답안지 등록-->
    <insert id="submitTest" parameterType="TestpaperList">
        <selectKey keyProperty="asnum" resultType="int" order="AFTER">
            SELECT lms_testpaper_list_seq.CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO lms_testpaper_list (
            asnum
            , testid
            , memberid
        ) VALUES (
            lms_testpaper_list_seq.nextval
            , #{testid}
            , #{memberid}
        )
    </insert>

    <!--시험 하나의 제출된 답변들 목록으로 이동-->
    <select id="testList" parameterType="int" resultType="TestpaperList">
        SELECT
            asnum
            , testid
            , memberid
            , totalscore
            , (SELECT membername FROM lms_member m WHERE t.memberid = m.memberid) membername
        FROM lms_testpaper_list t
        WHERE
            testid = #{testid}
    </select>

    <!--testid 가져오기-->
    <select id="getTestid" parameterType="int" resultType="int">
        SELECT
            testid
        FROM lms_testpaper_list
        WHERE
            asnum = #{asnum}
    </select>

    <!--제출된 답변 총점 계산-->
    <update id="updateTotalpoints" parameterType="int">
        UPDATE
            lms_testpaper_list
        SET
            totalscore = (
            SELECT
                SUM(points)
            FROM
                lms_test_answer
            WHERE
                asnum = #{asnum}
            )
        WHERE
            asnum = #{asnum}
    </update>
</mapper>
