<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>시험문제 작성</title>

        <link rel="stylesheet" th:href="@{/assets/extensions/choices.js/public/assets/styles/choices.css}" />

        <link rel="stylesheet" th:href="@{/assets/css/main/app.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/main/lms.css}" />
        <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon" />
        <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png" />
        <script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
        <script>
            $(document).ready(function () {
                $("button").on("click", function (e) {
                    e.preventDefault();
                });
                //문제 추가
                $(document).on("click", "#qPlus", function () {
                    let cardId = "card-" + Date.now(); // 현재 시간을 이용한 고유한 ID 생성
                    // console.log(cardId);
                    let questionCount = $(".card").length; // 현재까지 생성된 문제 개수 계산
                    let currentQuestionNumber = questionCount; // 해당 문제의 번호

                    let newCard = `
                        <div class="card" id="${cardId}">
                            <div class="card-header justify-content-between">
                                <div class="d-flex mb-3 align-items-center">
                                    <h6 class="col-md-8">${currentQuestionNumber}</h6>
                                    <div class="col-md-2 icon">
                                        <input type="file" id="${cardId}-file-input" style="display: none;">
                                        <button id="${cardId}-attach-file-btn" class="btn btn-primary btn-sm rounded-pill m-lg-2">파일 첨부</button>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-select type" data-card-id="${cardId}">
                                            <option value="1" selected>객관식</option>
                                            <option value="2">객관식 복수정답</option>
                                            <option value="3">단답형</option>
                                            <option value="4">서술형</option>
                                            <option value="5">파일</option>
                                        </select>
                                    </div>
                                </div>
                                <textarea id="taTarget" rows="1" class="form-control" placeholder="문제 입력" onkeyup="adjustHeight();"></textarea>
                            </div>
                            <div id="qPlace" class="card-body">
                                <!--객관식 복수정답-->
                                <!--단답형-->
                                <!--장문형-->
                                <!--파일-->
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <div class="col-md-2">
                                    <label class="d-flex align-items-center">
                                        <span class="col-md-3">배점</span>
                                        <input type="number" class="form-control"/>
                                    </label>
                                </div>
                                <button id="qDelete" class="btn btn-outline-primary btn-sm icon">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    `;

                    $("#questions").append(newCard); // 새로운 문제 추가

                    let typeContents = getQuestionTypeContents("1");
                    $("#" + cardId + " #qPlace").html(typeContents);
                });
                // 문제 제거
                $(document).on("click", "#qDelete", function (e) {
                    e.preventDefault();
                    let cardId = $(this).closest(".card").attr("id");
                    // console.log(cardId);
                    $("#" + cardId).remove();
                    // 남은 모든 문항들의 순서 업데이트
                    $(".card").each(function (index) {
                        let currentQuestionNumber = index;
                        $(this).find("h6").text(`문제번호: ${currentQuestionNumber}`);
                    });
                });

                // 문제 유형 선택
                $(document).on("change", ".type", function () {
                    let type = $(this).val();
                    let cardId = $(this).data("card-id");

                    let typeContents = getQuestionTypeContents(type);

                    $("#" + cardId + " #qPlace").html(typeContents);
                });

                // 문제 유형에 따른 내용 반환 함수
                function getQuestionTypeContents(type) {
                    switch (type) {
                        case "1":
                            return `
                                <div id="optionTarget"></div>
                                <section class="d-flex justify-content-between">
                                    <button id="plusOption" class="btn btn-primary btn-sm rounded-pill m-lg-2">보기 추가</button>
                                </section>
                            `;
                        case "2":
                            return `
                                <div id="multiOptionTarget"></div>
                                <section>
                                    <button id="plusMultiOption" class="btn btn-primary btn-sm rounded-pill m-lg-2">보기 추가</button>
                                </section>
                            `;
                        case "3":
                            return `
                                <div id="shortAnswerTarget"></div>
                                <section>
                                    <input type="text" class="form-control"/>
                                </section>
                            `;
                        case "4":
                            return `
                                <div id="longAnswerTarget"></div>
                                <section>
                                    <textarea class="form-control" rows="5"></textarea>
                                </section>
                            `;
                        case "5":
                            return `
                                ...
                            `;
                    }
                }

                //객관식 보기 추가
                $(document).on("click", "#plusOption", function (e) {
                    e.preventDefault();
                    let cardId = $(this).closest(".card").attr("id");
                    $("#" + cardId + " #optionTarget").append(`
                    <div class="d-flex justify-content-between mb-1">
                        <div>
                            <label class="d-flex align-items-center">
                            <input type="radio" class="form-check-input m-lg-1" name="answer" value="" />
                            <input type="text" class="form-control"/>
                            </label>
                        </div>
                        <button class="btn btn-outline-primary btn-sm icon deleteOption">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                    `);
                });

                //객관식 보기 제거
                $(document).on("click", ".deleteOption", function (e) {
                    e.preventDefault();
                    let cardId = $(this).closest(".card").attr("id");
                    $(this).parent().remove(); // 클릭된 버튼의 부모 요소만 제거합니다.

                    updateAnswerNumbers(cardId);
                });

                // 객관식 복수정답 보기 추가
                $(document).on("click", "#plusMultiOption", function (e) {
                    e.preventDefault();
                    let cardId = $(this).closest(".card").attr("id");
                    $("#" + cardId + " #multiOptionTarget").append(`
                    <div class="d-flex justify-content-between mb-1 ">
                        <div>
                            <label class="d-flex align-items-center">
                            <input type="checkbox" class="form-check-input m-lg-1" name="answer" value="" />
                            <input type="text" class="form-control"/>
                            </label>
                        </div>
                        <button class="btn btn-outline-primary btn-sm icon deleteMultiOption">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                    `);
                });

                // 객관식 복수정답 보기 제거
                $(document).on("click", ".deleteMultiOption", function (e) {
                    e.preventDefault();
                    let cardId = $(this).closest(".card").attr("id");
                    $(this).parent().remove(); // 클릭된 버튼의 부모 요소만 제거합니다.

                    updateAnswerNumbers(cardId);
                });

                // 파일 첨부 버튼 클릭 시 파일 선택 다이얼로그 트리거
                $(document).on("click", "[id$='-attach-file-btn']", function (e) {
                    e.preventDefault();

                    let cardId = $(this).closest(".card").attr("id");

                    $("#" + cardId + "-file-input").trigger('click');
                });

                // 파일 선택 시 선택된 파일명 표시
                $(document).on("change", "[type='file']", function () {
                    let fileName = this.files[0].name;
                    let cardId = $(this).closest(".card").attr("id");

                    $("#" + cardId + "-attach-file-btn").text(fileName);
                });

            });

            function updateAnswerNumbers(cardId) {
                $("#" + cardId + " .form-check-input").each(function (index) {
                    let currentNumber = index + 1;
                    $(this).attr('name', 'answer' + currentNumber); // 보기의 name 속성을 업데이트합니다.
                });
            }

            let textEle = $("#taTarget");
            textEle.on("input", function () {
                adjustHeight();
            });

            function adjustHeight() {
                let textEle = $("#taTarget");
                textEle[0].style.height = "auto";
                let textEleHeight = textEle.prop("scrollHeight");
                textEle.css("height", textEleHeight);
            }
        </script>
    </head>

    <body>
        <div id="app">
            <div th:replace="/fragments/sidebar.html :: sidebarFrag"></div>
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>시험문제 작성</h3>
                                <p class="text-subtitle text-muted">Customize the native &laquo;select&raquo; with custom CSS that changes the element’s initial appearance..</p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a th:href="@{/test}">시험</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">문제등록</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <form>
                        <section class="section">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">시험명</h4>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group input-group-lg">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="section" id="questions">
                            <!--문제 추가될 부분-->
                        </section>
                        <section class="d-flex justify-content-between">
                            <button id="qPlus" class="btn btn-primary icon">
                                <i class="bi bi-plus"></i>
                            </button>
                            <button class="btn btn-primary">등록</button>
                        </section>
                    </form>
                </div>
            </div>
            <script th:src="@{/assets/js/bootstrap.js}"></script>
            <script th:src="@{/assets/js/app.js}"></script>

            <script th:src="@{/assets/extensions/choices.js/public/assets/scripts/choices.js}"></script>
            <script th:src="@{/assets/js/pages/form-element-select.js}"></script>
        </div>
    </body>
</html>
