<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>테스트 - SCIT</title>
        <link rel="stylesheet" th:href="@{/assets/extensions/choices.js/public/assets/styles/choices.css}" />

        <link rel="stylesheet" th:href="@{/assets/css/main/app.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/main/lms.css}" />
        <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon" />
        <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png" />
        <script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
        <script th:src="@{/privatejs/sidebarLoader.js}"></script>
        <script th:inline="javascript">
            function submitForm() {
                let answerArray = [];

                // FormData 객체 생성
                let formData = new FormData();

                let testid = document.getElementById("testid").innerText;
                console.log(testid);
                formData.append("testid", testid);

                // 파일 업로드를 formData에 추가 (originalfile)
                $(".card").each(function (index) {
                    let cardId = $(this).attr("id");
                    // console.log(cardId);
                    let fileInput = $("#" + cardId + "-file-input")[0];
                    // console.log(fileInput)
                    if (!fileInput || !fileInput.files || fileInput.files.length === 0) {
                        return;
                    }
                    // let papernum = $(this).closest(".card").find("#" + cardId + "-papernum").text();
                    if (fileInput.files.length > 0) {
                        formData.append(`file[${cardId}]`, fileInput.files[0]);
                    }
                });

                // 모든 문제를 루프를 돌며 처리합니다.
                let questions = [[${questions}]];
                // console.log(questions);
                questions.forEach(function (question) {
                    let qid = question.qid;
                    let questionType = question.type;
                    let answer = [];

                    // console.log(qid);
                    // console.log(questionType);


                    // 문제 유형에 따라 값을 추출합니다.
                    switch (questionType) {
                        case 1: // 객관식
                            let selectedOption = document.querySelector(`input[name="${qid}-answer"]:checked`);
                            // console.log(selectedOption);
                            if (selectedOption) {
                                answer.push(selectedOption.value);
                            }
                            break;

                        case 2: // 객관식 복수 선택형
                            let selectedOptions = document.querySelectorAll(`input[name="${qid}-answer"]:checked`);
                            // console.log(selectedOptions);
                            if (selectedOptions.length > 0) {
                                selectedOptions.forEach(function (selectedOption) {
                                    answer.push(selectedOption.value);
                                    // console.log(answer);
                                });
                            }
                            break;

                        case 3: // 단답형
                            let textAnswer = document.querySelector(`input[name="${qid}-answer"].form-control`);
                            if (textAnswer) {
                                answer.push(textAnswer.value);
                            }
                            break;

                        case 4: // 서술형
                            let textareaAnswer = document.querySelector(`textarea[name="${qid}-answer"].form-control`);
                            if (textareaAnswer) {
                                answer.push(textareaAnswer.value);
                            }
                            break;
                        //
                        // case 5: // 파일 첨부형
                        //     // 파일 입력값을 추출하려면` 해당 파일 입력 요소에 접근해야 합니다.
                        //     // 파일 입력 요소의 ID를 사용하여 접근할 수 있습니다.
                        //     // let fileInput = document.getElementById(`${qid}-file-input`).files;
                        //     // console.log(fileInput);
                        //     // if (fileInput.length > 0) {
                        //     //     answer.push(fileInput);
                        //     // }
                        //     break;

                        default:
                            break;
                    }

                    // 문제와 답을 데이터 배열에 추가
                    answerArray.push({
                        qid: qid,
                        answer: answer,
                    });




                });
                formData.append("answerArray", JSON.stringify(answerArray));

                console.log("폼데이터", [...formData]);



                // 권한에 따라 요청 URL을 결정합니다.
                let requestUrl = '';


                // Ajax 요청을 보냅니다.
                $.ajax({
                    type: 'POST',
                    url: 'submitTest',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        // 성공적으로 서버에서 응답을 받았을 때 수행할 작업을 여기에 추가하세요.
                        alert('성공적으로 제출되었습니다.');
                        window.location.href = "/lms/test";
                    },
                    error: function(error) {
                        // Ajax 요청이 실패했을 때 수행할 작업을 여기에 추가하세요.
                        alert('제출 중 오류가 발생했습니다.');
                    }
                });
            }

            // 첨부파일 다운로드
            function download(qid) {
                $.ajax({
                    url : "download",
                    method : "GET",
                    data: {qid : qid},
                    success: function (data) {

                    },
                    error: function (e){
                        console.log(JSON.stringify(e));
                    }
                })
            }
        </script>
    </head>
    <body>
        <div id="app">
            <div id="sidebar-placeholder"></div>
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3 th:text="${test.testname}"></h3>
                                <div id="testid" th:text="${test.testid}" style="display: none"></div>
                                <p class="text-subtitle text-muted">Customize the native &laquo;select&raquo; with custom CSS that changes the element’s initial appearance..</p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a th:href="@{/test}">시험</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">문제등록</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <form>
                        <section class="section">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4 class="card-title">시험명</h4>
                                            <div class="form-group input-group-lg">
                                                <h6 class="card-title" th:text="${test.testname}"></h6>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h4 class="card-title">총점</h4>
                                            <span id="totalPoints" th:text="${test.totalpoints}">0</span>점
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">시험일시</h4>
                                            <div class="form-group input-group">
                                                <span th:text="${test.testdate}"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="card-title">마감일시</h4>
                                            <div class="form-group input-group">
                                                <span th:text="${test.testlimit}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body"></div>
                            </div>
                        </section>
                        <div class="section" id="questions" th:each="q : ${questions}">
                            <div class="card qPlace" th:id="${q.qid}" th:value="${q.qid}">
                                <div class="card-header justify-content-between">
                                    <div class="d-flex mb-3 align-items-center">
                                        <h6 class="col-md-8" th:id="|${q.qid}-papernum|" th:text="${q.papernum}"></h6>
                                        <div class="col-md-2 icon" th:if="${q.originalfile} != null">
                                            <div class="btn btn-primary btn-sm rounded-pill">
                                                <a th:text="${q.originalfile}" th:href="@{/test/download(qid=${q.qid})}" style="color: #ffffff"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--문제 출력 부분-->
                                    <h6 th:text="${q.contents}"></h6>
                                </div>
                                <!--문제 유형별 답 입력 부분-->
                                <div id="qPlace" class="card-body">
                                    <div th:switch="${q.type}">
                                        <!-- 객관식 (q.type == 1) -->
                                        <div th:case="1">
                                            <div th:if="${q.qid == o.qid}" th:each="o :${options}">
                                                <div class="d-flex justify-content-between mb-1 optionItem">
                                                    <div>
                                                        <label class="d-flex align-items-center">
                                                            <input type="radio" class="form-check-input m-lg-1 optionCount" th:name="|${o.qid}-answer|" th:value="${o.value}" />
                                                            <span th:text="${o.content}"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 객관식 복수정답 (q.type == 2) -->
                                        <div th:case="2">
                                            <div th:if="${q.qid == o.qid}" th:each="o :${options}">
                                                <div class="d-flex justify-content-between mb-1 multiOptionItem">
                                                    <div>
                                                        <label class="d-flex align-items-center">
                                                            <input type="checkbox" class="form-check-input m-lg-1 optionCount" th:name="|${o.qid}-answer|" th:value="${o.value}" />
                                                            <span th:text="${o.content}"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 단답형 (q.type == 3) -->
                                        <div th:case="3">
                                            <div class="d-flex justify-content-between mb-1">
                                                <input type="text" class="form-control" th:name="|${q.qid}-answer|"/>
                                            </div>
                                        </div>
                                        <!-- 서술형 (q.type == 4) -->
                                        <div th:case="4">
                                            <div class="d-flex justify-content-between mb-1">
                                                <textarea class="form-control" rows="5" th:name="|${q.qid}-answer|"></textarea>
                                            </div>
                                        </div>
                                        <!-- 파일 첨부형 (q.type == 5) -->
                                        <div th:case="5">
                                            <div class="d-flex justify-content-between mb-1">
                                                <!-- 파일 첨부형식 -->
                                                <input class="form-control" type="file" th:name="|${q.qid}-answer|" th:id="|${q.qid}-file-input|">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-md-2">
                                        <label class="d-flex align-items-center">
                                            <span class="col-md-3">배점</span>
                                            <b><span th:text="${q.points}"></span></b>점
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="d-flex justify-content-between">
                            <button class="btn btn-primary" type="button" onclick="submitForm();">제출</button>
                        </section>
                    </form>
                </div>
            </div>
            <script th:src="@{/assets/js/bootstrap.js}"></script>
            <script th:src="@{/assets/js/app.js}"></script>

            <script th:src="@{/assets/extensions/choices.js/public/assets/scripts/choices.js}"></script>
            <script th:src="@{/assets/js/pages/form-element-select.js}"></script>
        </div>
    </body>
</html>
