<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>시험등록</title>
</head>
<body>
    <h1>시험등록</h1>
    <!-- 첫 번째 폼 -->
    <form th:action="@{InsertBigRatio}" onsubmit="return saveValue()">
        <table>
            <tr>
                <td>대분류</td>
                <td>
                    <select name="categoryname" id="categorySelect">
                        <option value="일본어">일본어</option>
                        <option value="IT">IT</option>
                        <option value="출석">출석</option>
                    </select>
                </td>

            </tr>

        </table>

        <input type="submit" value="저장">
    </form>




</body>
</html>