<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>학생개인정보</title>

    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/lms.css}" />
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">

    <script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .form-body {
            margin: 50px;
        }
        label {
            font-weight: bold;
        }
    </style>
</head>
<body>

<div id="app">
    <div th:replace="~{/fragments/sidebar.html :: sidebarFrag}"></div>
</div>

<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>학생 정보</h3>
                    <p class="text-subtitle text-muted">학생 정보를 편집할 수 있습니다.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-th="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/main}">메인</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/studentManager}">학생 관리</a></li>
                            <li class="breadcrumb-item active" aria-current="page">학생 정보 편집</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="row" id="table-head">
            <div class="col-12">
                <div class="card">

                    <!-- 테이블 -->
                    <div class="card-content">

                            <!-- 폼 -->
                            <form th:action="@{/admin/updateInformation}" method="post">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>아이디</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <input type="hidden" name="member.memberid" th:value="${student.member?.memberid}" readonly>
                                             [[${student.member?.memberid}]]
                                        </div>
                                        <div class="col-md-2">
                                            <label>이름</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <span th:text="${student.member?.membername}"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <label>생년월일</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <span th:text="${student.member?.birthday}"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <label>성별</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <span th:if="${student.member?.gender == 'female'}">여성</span>
                                            <span th:if="${student.member?.gender == 'male'}">남성</span>
                                        </div>
                                        <div class="col-md-2">
                                            <label>주소</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <span th:text="${student.member?.address}"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <label>학교</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <input type="text" name="student.school" th:value="${student.student?.school}" class="form-control" required>
                                            <!--[[${student.student?.school}]]-->
                                        </div>
                                        <div class="col-md-2">
                                            <label>전공</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <input type="text" name="student.major" th:value="${student.student?.major}" class="form-control" required>
                                            <!--[[${student.student?.major}]]-->
                                        </div>
                                        <div class="col-md-2">
                                            <label>졸업 여부</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <span th:if="${student.student?.graduation == null}">
                                                <select name="student.graduation" class="form-select" required>
                                                    <option value="0">재학중</option>
                                                    <option value="1">졸업</option>
                                                </select>
                                            </span>
                                            <span th:if="${student.student?.graduation == '0'}" colspan="2">
                                                <select name="student.graduation" class="form-select" required>
                                                    <option value="0">재학중</option>
                                                    <option value="1">졸업</option>
                                                </select>
                                            </span>
                                            <span th:if="${student.student?.graduation == '1'}" colspan="2">
                                                <select name="student.graduation" class="form-select" required>
                                                    <option value="1">졸업</option>
                                                    <option value="0">재학중</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <label>과정</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <select name="student.curriculum" class="form-select" required>
                                                <option th:value="${student.student?.curriculum}" th:text="${student.student?.curriculum}"></option>
                                                <option th:each="i: ${#numbers.sequence(1, 100)}" th:value="'SCIT' + ${i} + '기'" th:text="'SCIT' + ${i} + '기'"></option>
                                            </select>
                                            <!--[[${student.student?.curriculum}]]-->
                                        </div>
                                        <div class="col-md-2">
                                            <label>일본어 분반</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <select name="jpCategory.jpclassname" class="form-select" required>
                                                <option th:value="${student.jpCategory?.jpclassname}" th:text="${student.jpCategory?.jpclassname}"></option>
                                                <option value="기본">해당없음</option>
                                                <option value="A">A반</option>
                                                <option value="B">B반</option>
                                                <option value="C">C반</option>
                                                <option value="D">D반</option>
                                                <option value="E">E반</option>
                                                <option value="F">F반</option>
                                                <option value="G">G반</option>
                                                <option value="H">H반</option>
                                                <option value="I">I반</option>
                                                <option value="J">J반</option>
                                            </select>
                                            <!--[[${student.jpCategory?.jpclassname}]]-->
                                        </div>
                                        <div class="col-md-2">
                                            <label>IT 분반</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <select name="itCategory.itclassname" class="form-select" required>
                                                <option th:value="${student.itCategory?.itclassname}" th:text="${student.itCategory?.itclassname}"></option>
                                                <option value="기본">해당없음</option>
                                                <option value="A">A반</option>
                                                <option value="B">B반</option>
                                                <option value="C">C반</option>
                                                <option value="D">D반</option>
                                                <option value="E">E반</option>
                                                <option value="F">F반</option>
                                                <option value="G">G반</option>
                                                <option value="H">H반</option>
                                                <option value="I">I반</option>
                                                <option value="J">J반</option>
                                            </select>
                                            <!--[[${student.itCategory?.itclassname}]]-->
                                        </div>
                                        <div class="col-md-2">
                                            <label>공인어학자격증</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <select name="studentInfo.certi_jpname" class="form-select" required>
                                                <option th:value="${student.studentInfo?.certi_jpname}" th:text="${student.studentInfo?.certi_jpname}"></option>
                                                <option value="미보유">미보유</option>
                                                <option value="JLPT N1">JLPT N1</option>
                                                <option value="JLPT N2">JLPT N2</option>
                                                <option value="JLPT N3">JLPT N3</option>
                                                <option value="JLPT N4">JLPT N4</option>
                                                <option value="JLPT N5">JLPT N5</option>
                                            </select>
                                            <!--[[${student.studentInfo?.certi_jpname}]]-->
                                        </div>
                                        <div class="col-md-2">
                                            <label>IT자격증</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <select name="studentInfo.certi_name" class="form-select" required>
                                                <option th:value="${student.studentInfo?.certi_name}" th:text="${student.studentInfo?.certi_name}"></option>
                                                <option value="미보유">미보유</option>
                                                <option value="정보처리기사 필기">정보처리기사 필기</option>
                                                <option value="정보처리기사">정보처리기사</option>
                                                <option value="정보처리산업기사 필기">정보처리산업기사 필기</option>
                                                <option value="정보처리산업기사">정보처리산업기사</option>
                                            </select>
                                            <!--[[${student.studentInfo?.certi_name}]]-->
                                        </div>
                                        <div class="col-md-2">
                                            <label>특이사항</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <input type="text" name="studentInfo.note" th:value="${student.studentInfo?.note}" class="form-control" required>
                                        </div>
                                        <div class="col-md-2">
                                            <label>내정 회사</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <input type="text" name="studentInfo.company" th:value="${student.studentInfo?.company}" class="form-control" required>
                                        </div>
                                        <div class="col-md-2">
                                            <label>해외경력 및 취업경험</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <input type="text" name="studentInfo.experience" th:value="${student.studentInfo?.experience}" class="form-control" required>
                                        </div>
                                        <div class="col-md-2">
                                            <label>학원 졸업 여부</label>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <select name="studentInfo.scitgraduation" class="form-select" required>
                                                <option th:value="${student.studentInfo?.scitgraduation}" th:text="${student.studentInfo?.scitgraduation}"></option>
                                                <option value="미수료">미수료</option>
                                                <option value="수료">수료</option>
                                            </select>
                                            <!--[[${student.studentInfo?.scitgraduation}]]-->
                                        </div>
                                        <div class="col-sm-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">편집</button>
                                            <button type="reset" class="btn btn-light-secondary me-1 mb-1">
                                                <a th:href="@{/admin/studentInfo/{memberid}(memberid=${student.member?.memberid})}">취소</a>
                                            </button>
                                        </div>
                                </div>
                                </div>
                            </form>
                            <!-- 폼 끝 -->

                    </div>
                    <!-- 테이블 -->

                </div>
            </div>
        </div>
    </section>

</div>

<script th:src="@{/assets/js/bootstrap.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>

</body>
</html>