<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCIT LMS</title>

    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/lms.css}" />
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">

    <link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">

    <style>
        .table-responsive {
            text-align: center;
        }
    </style>

    <script>
        <!-- 페이지 이동 스크립트  -->
        function pagingFormSubmit(currentPage) {
            var form = document.getElementById('pagingForm');
            var page = document.getElementById('page');
            page.value = currentPage;
            form.submit();
        }
    </script>

</head>

<body>
        <div id="app">
            <div th:replace="~{/fragments/sidebar.html :: sidebarFrag}"></div>
        </div>

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <p class="text-subtitle text-muted"></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/main}">메인</a></li>
                        <li class="breadcrumb-item active" aria-current="page">공지</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

    <!-- Table head options start -->
    <section class="section">
        <div class="row" id="table-head">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                 <h3>공지</h3>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <!--공지 등록 버튼-->
                                <div class="float-start float-lg-end" sec:authorize="hasAnyRole('ROLE_admin', 'ROLE_teacher')">
                                    <div class="button">
                                        <a th:href="@{/notice/write}" class="btn btn-outline-primary">공지 등록</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <!-- table head dark -->
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="thead-dark">
                                <tr>
                                    <th>번호</th>
                                    <th style="width: 600px">제목</th>
                                    <th>작성자</th>
                                    <th>조회수</th>
                                    <th>작성일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="list: ${list}">
                                    <td th:text="${list.noticenum}"></td>
                                    <td class="text-bold-500"><a th:href="@{/notice/read(noticenum=${list.noticenum})}" th:text="${list.noticetitle}"></a></td>
                                    <td th:text="${list.memberid}">관리자</td>
                                    <td th:text="${list.hits}">0</td>
                                    <td th:text="${list.noticedate}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-header">

                        <!-- 페이지네이션 -->
                        <ul class="pagination pagination-primary  justify-content-center" th:unless="${navi.currentPage == 0}">
                            <li class="page-item">
                                <a class="page-link" th:href="|javascript:pagingFormSubmit(${navi.currentPage - navi.pagePerGroup})|">&laquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="|javascript:pagingFormSubmit(${navi.currentPage - 1})|">&lsaquo;</a>
                            </li>
                            <li class="page-item" th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}" th:classappend="${counter == navi.currentPage} ? 'active' : ''">
                                <th:block th:if="${counter == navi.currentPage}"></th:block>
                                <a class="page-link" th:text="${counter}" th:href="|javascript:pagingFormSubmit(${counter})|"></a>
                                <th:block th:if="${counter == navi.currentPage}"></th:block>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="|javascript:pagingFormSubmit(${navi.currentPage + 1})|">&rsaquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="|javascript:pagingFormSubmit(${navi.currentPage + navi.pagePerGroup})|">&raquo;</a>
                            </li>
                        </ul>
                        </ul>

                        <hr>

                        <!-- 검색 창 -->
                        <div style="margin-left: 25%">
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <form id="pagingForm" th:action="@{/notice}" method="get" style="display: flex">
                                        <input type="hidden" name="page" id="page">
                                        <select id="type" name="type" class="form-select" style="width: 110px">
                                            <option value="title" th:selected="${type} == 'title'">제목</option>
                                            <option value="contents" th:selected="${type} == 'contents'">본문</option>
                                            <option value="memberid" th:selected="${type} == 'memberid'">작성자</option>
                                            <option value="all" th:selected="${type} == 'all'">전체</option>
                                        </select>

                                        <input type="text" name="searchWord" th:value="${searchWord}" class="form-control" style="width: 400px">
                                        <input type="button" value="검색" th:onclick="pagingFormSubmit([[${navi.currentPage}]])" class="btn btn-outline-secondary">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- Table head options end -->
    </div>

    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    
</body>

</html>
