<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지</title>

    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}">
    <link rel="stylesheet" th:href="@{/assets/css/main/lms.css}" />
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/logo/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}">

    <script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/privatejs/sidebarLoader.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <style>
        .table-responsive {
            text-align: center;
        }
    </style>

    <script>
        function check() {
            let t = document.getElementById('noticetitle').value;
            let c = document.getElementById('noticecontents').value;

            if(t.length<5) {
                Swal.fire({
                  icon: 'error',
                  title: '제목을 입력해주세요',
                  text: '제목을 5자 이상 입력해주세요',
                })
                return false;
            }
            if(t.length>200) {
                Swal.fire({
                  icon: 'error',
                  title: '제목을 입력해주세요',
                  text: '내용을 200자 이내로 입력해주세요',
                })
                return false;
            }
            if(c.length<5) {
                Swal.fire({
                  icon: 'error',
                  title: '내용을 입력해주세요',
                  text: '내용을 10자 이상 입력해주세요',
                })
                return false;
            }
            if(c.length>4000) {
                Swal.fire({
                  icon: 'error',
                  title: '내용을 입력해주세요',
                  text: '내용을 4000자 이내로 입력해주세요',
                })
                return false;
            }
        }
    </script>

</head>

<body>
<div id="app">
<!--<div th:replace="~{/fragments/sidebar.html :: sidebarFrag}"></div>-->
</div>

<div id="sidebar-placeholder"></div>
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <p class="text-subtitle text-muted"></p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/main}">메인</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/notice}">공지</a></li>
                            <li class="breadcrumb-item active" aria-current="page">공지 등록</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Table head options start -->
    <section class="section">
        <div class="row" id="table-head">
            <div class="col-12">
                <div class="card">
                    <div class="card">
                        <div class="card-header">
                            <h3>공지 수정</h3>
                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <form th:action="@{/notice/update}" method="post" enctype="multipart/form-data" onsubmit="return check()" class="form form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>카테고리</label>
                                            </div>
                                            <div class="col-md-10 form-group">
                                                <select name="categories" id="categories" class="form-select">
                                                    <option value="전체">전체</option>
                                                    <option th:each="category : ${categories}" th:value="${category}" th:text="${category}" th:selected="${category} == ${notice.categories}"></option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label>제목</label>
                                            </div>
                                            <div class="col-md-10 form-group">
                                                <input name="noticetitle" id="noticetitle" class="form-control" th:value="${notice.noticetitle}">
                                            </div>
                                            <div class="col-md-2">
                                                <label>내용</label>
                                            </div>
                                            <div class="col-md-10 form-group">
                                                <textarea name="noticecontents" id="noticecontents" class="form-control" rows="5" th:text="${notice.noticecontents}"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label>읽기 권한</label>
                                            </div>
                                            <div class="col-md-10 form-group">
                                                <select name="viewauthority" class="form-select">
                                                    <option value="0" th:selected="${notice.viewauthority} == '0'">전체</option>
                                                    <option value="1" th:selected="${notice.viewauthority} == '1'">선생님</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label>첨부파일</label>
                                            </div>
                                            <div class="col-md-10 form-group">
                                                <div class="mb-3">
                                                    <input type="file" name="upload" class="form-control" id="formFile" multiple>
                                                </div>
                                            </div>
                                            <input type="hidden" th:value="${notice.noticenum}" name="noticenum">
                                            <input type="hidden" th:value="${notice.originalfile}" name="originalfile">
                                            <input type="hidden" th:value="${notice.savedfile}" name="savedfile">
                                            <div class="col-sm-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary me-1 mb-1">확인</button>
                                                <button type="button" class="btn btn-light-secondary me-1 mb-1"><a th:href="@{/notice/read(noticenum=${notice.noticenum})}">취소</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Table head options end -->

</div>

<script th:src="@{/assets/js/bootstrap.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>

</body>

</html>
