<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>과제</title>

    <link rel="stylesheet" th:href="@{/assets/css/main/app.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/main/app-dark.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/main/lms.css}" />
    <link
      rel="shortcut icon"
      th:href="@{/assets/images/logo/favicon.svg}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      th:href="@{/assets/images/logo/favicon.png}"
      type="image/png"
    />
    <link rel="stylesheet" th:href="@{/assets/css/shared/iconly.css}" />

    <style>
      .table-responsive {
        text-align: center;
      }
    </style>

    <script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/privatejs/sidebarLoader.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script th:inline="javascript">
      /*<![CDATA[*/
      var category = /*[[${category}]]*/ [];
      /*]]>*/
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('subjectSelector').addEventListener('change', function() {
          var subject = this.value;
          var curriculum = document.getElementById('curriculumSelector').value;
          var classSelector = document.getElementById('classSelector');

          // "해당없음"을 제외하고 모든 옵션을 지우기
          var optionsElements = classSelector.getElementsByTagName('option');
          for(var i = optionsElements.length - 1; i > 0; i--) {
              classSelector.removeChild(optionsElements[i]);
          }

          // 선택한 과목에 따라 해당하는 반 옵션 추가하기
          var options = [];
          category.forEach(function(item) {
              if(item.curriculum === curriculum) {
                  if(subject === '일본어' && options.indexOf(item.jpclassname) === -1) {
                      options.push(item.jpclassname);
                  } else if(subject === 'IT' && options.indexOf(item.itclassname) === -1) {
                      options.push(item.itclassname);
                  }
              }
          });

          // options 배열에 저장된 반 옵션들을 추가
          options.forEach(function(optionValue) {
              var option = document.createElement("option");
              option.value = optionValue;
              option.textContent = optionValue;
              classSelector.appendChild(option);
          });
        });
      });

      function check() {
        let start = document.getElementById("hw_start").value;
        let end = document.getElementById("hw_end").value;
        let t = document.getElementById("hw_title").value;
        let c = document.getElementById("hw_contents").value;

        if (start >= end) {
          Swal.fire({
            icon: "error",
            title: "제출 기간을 확인해주세요.",
            text: "시작일은 종료일보다 빨리 설정되어야 합니다!",
          });
          return false;
        }
        if (t.length < 5) {
          Swal.fire({
            icon: "error",
            title: "제목을 입력해주세요",
            text: "제목을 5자 이상 입력해주세요",
          });
          return false;
        }
        if (c.length < 10) {
          Swal.fire({
            icon: "error",
            title: "내용을 입력해주세요",
            text: "내용을 10자 이상 입력해주세요",
          });
          return false;
        }
        return true;
      }
    </script>
  </head>

  <body>
    <div id="app">
      <!--<div th:replace="~{/fragments/sidebar.html :: sidebarFrag}"></div>-->
    </div>
    <div id="sidebar-placeholder"></div>
    <div id="main">
      <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
          <i class="bi bi-justify fs-3"></i>
        </a>
      </header>

      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
              <h3></h3>
              <p class="text-subtitle text-muted"></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav
                aria-label="breadcrumb"
                class="breadcrumb-header float-start float-lg-end"
              >
                <ol class="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a th:href="@{/main}">메인</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a th:href="@{/homework}">과제</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      과제 등록
                    </li>
                  </ol>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <section class="section">
        <div class="row" id="table-head">
          <div class="col-12">
            <div class="card">
              <div class="card">
                <div class="card-header">
                  <h3>과제 등록</h3>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <form
                      th:action="@{/homework/write}"
                      method="post"
                      enctype="multipart/form-data"
                      onsubmit="return check()"
                      class="form form-horizontal"
                    >
                      <div class="form-body">
                        <div class="row">
                          <div class="col-md-2">
                            <label>카테고리</label>
                          </div>
                          <div
                            class="col-md-10 form-group"
                            style="display: flex"
                          >
                            <select id="curriculumSelector" name="hw_curriculum" class="form-select">
                              <option th:each="curriculum : ${curriculum}" th:value="${curriculum}" th:text="${curriculum}"></option>
                            </select>
                            <select name="hw_subject" class="form-select" id="subjectSelector">
                              <option value="해당없음">해당없음</option>
                              <option value="일본어">일본어</option>
                              <option value="IT">IT</option>
                            </select>
                            <select name="hw_class" class="form-select" id="classSelector">
                              <option value="해당없음">해당없음</option>
                            </select>
                          </div>

                          <div class="col-md-2">
                            <label>제출 기간</label>
                          </div>
                          <div
                            class="col-md-10 form-group"
                            style="display: flex"
                          >
                            <input
                              type="datetime-local"
                              name="hw_start"
                              id="hw_start"
                              class="form-control"
                            />
                            <i class="bi bi-dash"></i>
                            <input
                              type="datetime-local"
                              name="hw_end"
                              id="hw_end"
                              class="form-control"
                            />
                          </div>

                          <div class="col-md-2">
                            <label>제목</label>
                          </div>
                          <div class="col-md-10 form-group">
                            <input
                              type="text"
                              name="hw_title"
                              id="hw_title"
                              class="form-control"
                            />
                          </div>

                          <div class="col-md-2">
                            <label>내용</label>
                          </div>
                          <div class="col-md-10 form-group">
                            <textarea
                              name="hw_contents"
                              id="hw_contents"
                              class="form-control"
                              rows="5"
                            ></textarea>
                          </div>

                          <div class="col-md-2">
                            <label>첨부파일</label>
                          </div>
                          <div class="col-md-10 form-group">
                            <div class="mb-3">
                              <input
                                type="file"
                                name="upload"
                                class="form-control"
                                multiple
                              />
                            </div>
                          </div>

                          <!-- 버튼 -->
                          <div class="col-sm-12 d-flex justify-content-end">
                            <button
                              type="submit"
                              class="btn btn-primary me-1 mb-1"
                            >
                              확인
                            </button>
                            <button
                              type="reset"
                              class="btn btn-light-secondary me-1 mb-1"
                            >
                              <a th:href="@{/homework}">취소</a>
                            </button>
                          </div>
                          <!-- 버튼 끝 -->

                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
  </body>
</html>
